<div id="hero-container">
    <div id="hero-content">
        <video class="content" src="../../assets/ressources/videos/bagas-sante-cover.mp4" muted autoplay loop playsinline>
            Votre navigateur ne gère pas l'élément <code>video</code>.
        </video>
        <img class="content" src="../../../assets/ressources/images/mobile-home-image.jpg" alt="smiling women">
        <div class="tagline">
            <h2>Simplifiez la <strong>gestion de <br> votre cabinet</strong></h2>
        </div>
    </div>
</div>