<div id="valuation-container">
    <div id="left-valuation-card">
        <div id="card">
            <div id="name">Christopher H.</div>
            <div id="street">16 Rue du pas saint georges <br> 33000 Bordeaux</div>
            <div id="work">Masseur-kîesitherapeute</div>
        </div>
    </div>
    <div id="right-valuation-card">
        <div id="content-card">
            <div id="logo"></div>
            <div id="valuation">Avec BAGAS, <br> la gestion de mon cabinet <br> n'a jamais été aussi simple</div>
        </div>
    </div>
</div>