<app-header></app-header>
<div class="container">
    <div class="modules-container">
        <div class="top-container">
            <button class="module-button" (click)="travelToModule('board/Region_1/calendar')">
                <div class="icon officeIcon"></div>
                <span class="button-label">Cabinet</span>
            </button>
            <button class="module-button" (click)="travelToModule('profile')">
                <div class="icon profileIcon"></div>
                <span class="button-label">Profile</span>
            </button>
            <button class="module-button">
                <div class="icon contractIcon"></div>
                <span class="button-label">Contrat</span>
            </button>
            <button class="module-button">
                <div class="icon contractIcon"></div>
                <span class="button-label">Module 4</span>
            </button>
            <button class="module-button">
                <div class="icon contractIcon"></div>
                <span class="button-label">Module 5</span>
            </button>
            <button class="module-button">
                <div class="icon contractIcon"></div>
                <span class="button-label">Module 6</span>
            </button>
        </div>
    </div>
</div>
