<p>cabinet works!</p>
<!-- <div class="location-management-part" id="location-management-test" *ngIf="user != null">
    <div id="cabinet-option-id">
        <app-cabinet-option></app-cabinet-option>
    </div>
    <div id="create-cabinet-id" [ngClass]="{'disabled': !stop}">
        <app-cabinet-manager></app-cabinet-manager>
    </div>
    <div class="management-title">Gestion</div>
    <div class="sub-management-container">
        <div class="mangagement-switch-mode-button">
            <button (click)="showCreateCabinet()">Ajouter un nouveau cabinet</button>
        </div>
        <div id="location-part" class='location-part'  *ngFor="let data of allCabinet, let index = index">
            <div class="location-line" *ngIf="data != undefined">
                <div class="data-name">{{data.name}}</div>
                <button class="modify-location-button" *ngIf="CabinetCheck[index]" 
                (click)="showOptionCabinet(data, allId[index], allPath[index]); setSelectedCabinet(data)">Modifier</button>
            </div>
        </div>
    </div>
</div> -->