<!-- <div class="container">
    <div id="error"></div>
    <form [formGroup]="appointmentForm" (ngSubmit)="getAppointment()">
        <div class="input-title">
            <input type="text" placeholder="Ajouter un titre" id="title" formControlName="title">
        </div>
        <div class="input-container">
            <div class="input-part">
                <label for="date">Date</label>
                <input type="date" id="date" formControlName="date">
            </div>
            <div class="input-part time-part">
                <label for="startTime">Durée</label>
                <div>
                    <input type="time" id="startTime" formControlName="startTime">
                    <span> - </span>
                    <input type="time" id="endTime" formControlName="endTime">
                </div>
            </div>
            <div class="input-part">
                <label for="description">Description</label>
                <textarea type="text" id="description" placeholder="Ajouter une description" formControlName="description"></textarea>
            </div>
            <div class="submit-button-container">
                <button class="submit-button" (click)="hideModal()" type="submit">Enregistrer</button>
            </div>
        </div>
    </form>
</div> -->